.mdl-snackbar {

  position: fixed;
  bottom: 0;
  left: 50%;
  margin-right: -50%;
  cursor: default;
  background-color: $snackbar-background-color;
  z-index: 10000;
  display: flex;
  font-family: $preferred_font;
  will-change: transform;
  transform: translate(-50%, 80px);
  transition: transform 0.25s $animation-curve-fast-out-linear-in;
  pointer-events: none;

  @media(max-width: $snackbar-tablet-breakpoint - 1) {
    width: 100%;
    left: 0;
    min-height: 48px;
    max-height: 80px;
  }

  @media(min-width: $snackbar-tablet-breakpoint) {
    min-width: 288px;
    max-width: 568px;
    border-radius: 2px;
  }

  &--active {
    transform: translate(-50%, 0);
    pointer-events: auto;
    transition: transform 0.25s $animation-curve-linear-out-slow-in;
  }

  &__text {
    padding: 14px 24px;
    vertical-align: middle;
    color: white;
  }

  &__action {
    background: transparent;
    border: none;
    color: $snackbar-action-color;
    text-transform: uppercase;
    padding: 14px 24px;
    @include typo-button();
    overflow: hidden;
    outline: none;
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;

    &::-moz-focus-inner {
      border: 0;
    }

    &:not([aria-hidden]) {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

