.form-box {
    margin: 3% auto
}

.badge[data-badge]:after {
    background-color: white;
    color: black;
    margin-bottom: 0;
}

.mdl-layout__header-row .mdl-navigation__link {
    line-height: 25px;
    padding-left: 50px;
    padding-right: 0;
}

.splash-content {
    padding: 5% 0;
    text-align: center;
}

.splash-content img {
    margin-bottom: 30px;
    width: 350px;
}
