<div class="mdl-cell mdl-cell--9-col ng-scope">

    <h2 class="mdl-card__title-text">Mijn organisaties ({{ vm.organisaties.length }})</h2>

    <ul class="demo-list-two mdl-list">
        <li ng-repeat="organisatie in vm.organisaties" class="mdl-list__item mdl-list__item--two-line">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar">account_balance</i>
              <span>{{ organisatie.naam }}</span>
              <span class="mdl-list__item-sub-title">{{ organisatie.beschrijving }}</span>
            </span>
            <span class="mdl-list__item-secondary-content">
                <span id="organisatie-instellingen" class="mdl-list__item-secondary-info">Instellingen</span>
                <a class="mdl-list__item-secondary-action" href="/#/"><i class="material-icons">details</i></a>
                <a class="mdl-list__item-secondary-action" href="/#/"><i class="material-icons">delete</i></a>
                <a class="mdl-list__item-secondary-action" href="/#/"><i class="material-icons">save</i></a>
            </span>
        </li>
    </ul>

</div>

<div>

    <div class="mdl-card mdl-shadow--6dp">

        <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
            <h2 class="mdl-card__title-text">Maak een organisatie aan</h2>
        </div>

        <div class="mdl-card__supporting-text">

            <form ng-submit="vm.addOrganisatie(organisatie)">

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="naam" ng-model="organisatie.naam">
                    <label class="mdl-textfield__label" for="naam">Naam</label>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="beschrijving" ng-model="organisatie.beschrijving">
                    <label class="mdl-textfield__label" for="beschrijving">Beschrijving</label>
                </div>

                <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
                    Toevoegen
                </button>

            </form>

        </div>

    </div>

</div>

