<style>

    .tooltip {
        font-size: 12px;
    }

    .mdl-card__title {
        background-color: royalblue;
    }

    #chat {
        overflow-y: auto;
        height: 300px;
    }

    #chatContainer {
        height: 500px;
        margin-top: 10%;
    }

    #cirkelsessie-header {
        width: 100%;
        padding: 2% 1%;
    }

    #cirkelsessie-begroeting {
        width: 20%;
        font-size: 3em;
    }

    #header-buttons {
        float: right;
    }

    .status-open {
        color: green !important;
    }

    .status-gesloten {
        color: black !important;
    }

    .status-beeindigd {
        color: red !important;
    }

    .status-gestart {
        color: green !important;
    }

    .color-blue {
        color: blue !important;
    }

    #deelnemerContainer {
        max-height: 200px;
        overflow-x: auto;
    }

    .deelname {
        width: 120px;
        padding: 1%;
        margin-left: 1%;
        border: 1px solid black;
        color: black;
        background-color: lightgoldenrodyellow;
        float: left;
    }

    .deelnameAandeBeurt {
        width: 120px;
        padding: 1%;
        margin-left: 1%;
        border: 3px solid #1C8C81;
        color: black;
        background-color: #F7CD56;
        float: left;
    }

</style>


<div id="cirkelsessie-header">

    <span id="cirkelsessie-begroeting">
        Welkom, {{ $root.naam }}!
    </span>

    <div id="header-buttons">

        <div>
            <div ng-if="vm.isAanDeBeurt() && vm.isDeelnemer() && vm.cirkelsessie.status!='BEEINDIGD'" class="beurt">
                <h4>U bent aan de beurt!</h4>
            </div>

            <div ng-if="!vm.isAanDeBeurt() && vm.isDeelnemer() && vm.cirkelsessie.status!='BEEINDIGD'" class="beurt">
                <h4>Wachten op uw beurt...</h4>
                <!-- MDL Spinner Component -->
                <div ng-if="!vm.isAanDeBeurt() && vm.isDeelnemer() && vm.cirkelsessie.status!='BEEINDIGD'"
                     class="mdl-spinner mdl-js-spinner is-active"></div>
            </div>

            <button ng-if="vm.isDeelnemer()"
                    class="mdl-button mdl-js-button mdl-button--raised color-blue" disabled>
                U hebt deelgenomen
            </button>
            <button ng-if="!vm.isDeelnemer() && vm.cirkelsessie.status=='OPEN' && !vm.isActive(vm.cirkelsessie.startDatum)"
                    ng-click="vm.addDeelname(vm.cirkelsessie.id)"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                <span>Deelnemen</span>
            </button>

            <button ng-if="vm.isActive(vm.cirkelsessie.startDatum)"
                    class="mdl-button mdl-js-button mdl-button--raised status-gestart" disabled>
                De cirkelsessie is gestart!
            </button>
            <button ng-if="vm.cirkelsessie.status=='OPEN' && !vm.isActive(vm.cirkelsessie.startDatum)"
                    class="mdl-button mdl-js-button mdl-button--raised status-open" disabled>
                De cirkelsessie is open!
            </button>

            <button ng-if="vm.cirkelsessie.status=='GESLOTEN' && !vm.isActive(vm.cirkelsessie.startDatum)"
                    class="mdl-button mdl-js-button mdl-button--raised status-gesloten" disabled>
                De cirkelsessie is gesloten!
            </button>
            <button ng-if="vm.cirkelsessie.status=='BEEINDIGD' && !vm.isActive(vm.cirkelsessie.startDatum)"
                    class="mdl-button mdl-js-button mdl-button--raised status-beeindigd" disabled>
                De cirkelsessie is beëndigd!
            </button>
            <button ng-if="vm.cirkelsessie.status!='BEEINDIGD' && $root.id==vm.cirkelsessie.gebruiker.id"
                    ng-click="vm.beeindigSpel(vm.cirkelsessie)"
                    class="mdl-button mdl-js-button mdl-button--raised status-beeindigd">
                Beëndigd de cirkelsessie!
            </button>
        </div>

    </div>

</div>
<div class="mdl-cell mdl-cell--12-col demo-card-wide mdl-card mdl-shadow--2dp">

    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Deelnemers({{vm.deelnames.length}})</h2>
    </div>

    <div id="deelnemerContainer" class="mdl-card__supporting-text">
        <div ng-if="vm.deelnames.length==0">
            <h2>Geen deelnemers</h2>
        </div>

        <div ng-if="vm.deelnames.length>0">
            <div ng-repeat="deelname in vm.deelnames | orderBy:'aanDeBeurt':true">
                <div class="deelnameAandeBeurt" ng-if="deelname.aanDeBeurt">
                    <p>Naam: <b>{{deelname.gebruiker.gebruikersnaam}}</b></p>

                    <p>Deelgenomen op: <b>{{deelname.datum | date:'dd/MM/yyyy HH:mm'}}</b></p>

                    <p><b>Is aan de beurt!</b></p>
                </div>
                <div class="deelname" ng-if=!deelname.aanDeBeurt">
                    <p>Naam: <b>{{deelname.gebruiker.gebruikersnaam}}</b></p>

                    <p>Deelgenomen op: <b>{{deelname.datum | date:'dd/MM/yyyy HH:mm'}}</b></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mdl-cell mdl-cell--8-col demo-card-wide mdl-card mdl-shadow--2dp">

    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">{{vm.cirkelsessie.naam}}</h2>
    </div>

    <div class="mdl-card__supporting-text">
        Organisator: <b>{{vm.cirkelsessie.gebruiker.gebruikersnaam}} </b>
        | Startdatum: <b>{{vm.cirkelsessie.startDatum | date:'dd/MM/yyyy HH:mm'}}</b>
        | Status:
        <b class="status-open" ng-if="!vm.isActive(vm.cirkelsessie.startDatum) && vm.cirkelsessie.status=='OPEN'">{{vm.cirkelsessie.status}}</b>
        <b class="status-gesloten"
           ng-if="!vm.isActive(vm.cirkelsessie.startDatum) && vm.cirkelsessie.status=='GESLOTEN'">{{vm.cirkelsessie.status}}</b>
        <b class="status-beeindigd"
           ng-if="!vm.isActive(vm.cirkelsessie.startDatum) && vm.cirkelsessie.status=='BEEINDIGD'">{{vm.cirkelsessie.status}}</b>
        <b class="status-gestart" ng-if="vm.isActive(vm.cirkelsessie.startDatum)">GESTART</b>

        <p ng-if="vm.cirkelsessie.subthema!=null">
            Organisatie: <b>{{vm.cirkelsessie.subthema.hoofdthema.organisatie.naam}}</b>
            | Hoofdthema: <b>{{vm.cirkelsessie.subthema.hoofdthema.naam}}</b>
            | Subthema: <b>{{vm.cirkelsessie.subthema.naam}}</b>
        </p>
    </div>

    <div class="mdl-card__actions mdl-card--border">
        <h6>Max aan te maken aantal kaarten per gebruiker: </h6>
        <span>{{vm.cirkelsessie.maxAantalKaarten}}</span>
    </div>

    <div class="mdl-card__actions mdl-card--border">

        <svg xmlns="http://www.w3.org/2000/svg" version="1.0"
             height="{{vm.cirkelsessie.aantalCirkels * 100}}" width="100%">
            <g ng-repeat="i in vm.getTimes(vm.cirkelsessie.aantalCirkels)">
                <circle stroke="black" stroke-width="2"
                        ng-style="{ fill: vm.setCircleColor(i) }"
                        ng-attr-cx="{{ vm.cirkelsessie.aantalCirkels * 50 }}"
                        ng-attr-cy="{{ vm.cirkelsessie.aantalCirkels * 50 }}" r="{{i * 50}}">
                </circle>
            </g>
            <line x1="0" y1="{{vm.cirkelsessie.aantalCirkels * 50}}" x2="{{vm.cirkelsessie.aantalCirkels * 100}}"
                  y2="{{vm.cirkelsessie.aantalCirkels * 50}}"
                  style="stroke:white;stroke-width:2" stroke-linecap="round" stroke-dasharray="1, 5"></line>

            <line x1="{{vm.cirkelsessie.aantalCirkels * 50}}" y1="0" x2="{{vm.cirkelsessie.aantalCirkels * 50}}"
                  y2="{{vm.cirkelsessie.aantalCirkels * 100}}"
                  style="stroke:white;stroke-width:2" stroke-linecap="round" stroke-dasharray="1, 5"></line>

            <g ng-repeat="spelkaart in vm.spelkaarten | filter:{positie:1}">
                <rect ng-mouseenter="vm.ShowTooltip($event,spelkaart.kaart.tekst)"
                      ng-mouseleave="vm.HideTooltip()"
                      ng-attr-id="{{spelkaart.kaart.tekst}}"
                      transform="rotate({{$index * 20}}, {{vm.cirkelsessie.aantalCirkels * 50}}, {{vm.cirkelsessie.aantalCirkels * 50}})"
                      ng-attr-x="{{vm.cirkelsessie.aantalCirkels * 50}}"
                      y="10"
                      width="50" height="30" style="fill:#9C9C9C;"
                      stroke="black" stroke-width="2">
                </rect>
                <text
                        transform="rotate({{$index * 20}}, {{vm.cirkelsessie.aantalCirkels * 50}}, {{vm.cirkelsessie.aantalCirkels * 50}})"
                        ng-attr-x="{{vm.cirkelsessie.aantalCirkels * 50 + 2}}"
                        y="30"
                        fill="white"
                        stroke="w">
                    {{spelkaart.kaart.tekst | limitTo: 4}}..
                </text>
            </g>

            <g ng-repeat="spelkaart in vm.spelkaarten | filter:{positie:2}">
                <rect ng-mouseenter="vm.ShowTooltip($event,spelkaart.kaart.tekst)"
                      ng-mouseleave="vm.HideTooltip()"
                      transform="rotate({{$index * 20}}, {{vm.cirkelsessie.aantalCirkels * 50}}, {{vm.cirkelsessie.aantalCirkels * 50}})"
                      ng-attr-x="{{vm.cirkelsessie.aantalCirkels * 50}}"
                      y="60"
                      width="50" height="30" style="fill:#9C9C9C;"
                      stroke="black" stroke-width="2">
                </rect>
                <text
                        transform="rotate({{$index * 20}}, {{vm.cirkelsessie.aantalCirkels * 50}}, {{vm.cirkelsessie.aantalCirkels * 50}})"
                        ng-attr-x="{{vm.cirkelsessie.aantalCirkels * 50 + 2}}"
                        y="80"
                        fill="white">
                    {{spelkaart.kaart.tekst | limitTo: 4}}..
                </text>
            </g>

            <g ng-repeat="spelkaart in vm.spelkaarten | filter:{positie:3}">
                <rect ng-mouseenter="vm.ShowTooltip($event,spelkaart.kaart.tekst)"
                      ng-mouseleave="vm.HideTooltip()"
                      transform="rotate({{$index * 20}}, {{vm.cirkelsessie.aantalCirkels * 50}}, {{vm.cirkelsessie.aantalCirkels * 50}})"
                      ng-attr-x="{{vm.cirkelsessie.aantalCirkels * 50}}"
                      y="110"
                      width="50" height="30" style="fill:#9C9C9C;"
                      stroke="black" stroke-width="2">
                </rect>
                <text
                        transform="rotate({{$index * 20}}, {{vm.cirkelsessie.aantalCirkels * 50}}, {{vm.cirkelsessie.aantalCirkels * 50}})"
                        ng-attr-x="{{vm.cirkelsessie.aantalCirkels * 50 + 2 }}"
                        y="130"
                        fill="white">
                    {{spelkaart.kaart.tekst | limitTo: 4}}..
                </text>
            </g>

            <g ng-repeat="spelkaart in vm.spelkaarten | filter:{positie:4}">
                <rect ng-mouseenter="vm.ShowTooltip($event,spelkaart.kaart.tekst)"
                      ng-mouseleave="vm.HideTooltip()"
                      transform="rotate({{$index * 20}}, {{vm.cirkelsessie.aantalCirkels * 50}}, {{vm.cirkelsessie.aantalCirkels * 50}})"
                      ng-attr-x="{{vm.cirkelsessie.aantalCirkels * 50}}"
                      y="160"
                      width="50" height="30" style="fill:#9C9C9C;"
                      stroke="black" stroke-width="2">
                </rect>
                <text
                        transform="rotate({{$index * 20}}, {{vm.cirkelsessie.aantalCirkels * 50}}, {{vm.cirkelsessie.aantalCirkels * 50}})"
                        ng-attr-x="{{vm.cirkelsessie.aantalCirkels * 50 + 2 }}"
                        y="180"
                        fill="white">
                    {{spelkaart.kaart.tekst | limitTo: 4}}..
                </text>
            </g>

            <g ng-repeat="spelkaart in vm.spelkaarten | filter:{positie:5}">
                <rect ng-mouseenter="vm.ShowTooltip($event,spelkaart.kaart.tekst)"
                      ng-mouseleave="vm.HideTooltip()"
                      transform="rotate({{$index * 20}}, {{vm.cirkelsessie.aantalCirkels * 50}}, {{vm.cirkelsessie.aantalCirkels * 50}})"
                      ng-attr-x="{{vm.cirkelsessie.aantalCirkels * 50 }}"
                      y="210"
                      width="50" height="30" style="fill:#9C9C9C;"
                      stroke="black" stroke-width="2">
                </rect>
                <text
                        transform="rotate({{$index * 20}}, {{vm.cirkelsessie.aantalCirkels * 50}}, {{vm.cirkelsessie.aantalCirkels * 50}})"
                        ng-attr-x="{{vm.cirkelsessie.aantalCirkels * 50 + 2 }}"
                        y="230"
                        fill="white">
                    {{spelkaart.kaart.tekst | limitTo: 4}}..
                </text>
            </g>

            <g ng-repeat="spelkaart in vm.spelkaarten | filter:{positie:6}">
                <rect ng-mouseenter="vm.ShowTooltip($event,spelkaart.kaart.tekst)"
                      ng-mouseleave="vm.HideTooltip()"
                      transform="rotate({{$index * 20}}, {{vm.cirkelsessie.aantalCirkels * 50}}, {{vm.cirkelsessie.aantalCirkels * 50}})"
                      ng-attr-x="{{vm.cirkelsessie.aantalCirkels * 50 }}"
                      y="260"
                      width="50" height="30" style="fill:#9C9C9C;"
                      stroke="black" stroke-width="2">
                </rect>
                <text
                        transform="rotate({{$index * 20}}, {{vm.cirkelsessie.aantalCirkels * 50}}, {{vm.cirkelsessie.aantalCirkels * 50}})"
                        ng-attr-x="{{vm.cirkelsessie.aantalCirkels * 50 + 2 }}"
                        y="280"
                        fill="white">
                    {{spelkaart.kaart.tekst | limitTo: 4}}..
                </text>
            </g>

            <g ng-repeat="spelkaart in vm.spelkaarten | filter:{positie:7}">
                <rect ng-mouseenter="vm.ShowTooltip($event,spelkaart.kaart.tekst)"
                      ng-mouseleave="vm.HideTooltip()"
                      transform="rotate({{$index * 20}}, {{vm.cirkelsessie.aantalCirkels * 50}}, {{vm.cirkelsessie.aantalCirkels * 50}})"
                      ng-attr-x="{{vm.cirkelsessie.aantalCirkels * 50 }}"
                      y="310"
                      width="50" height="30" style="fill:#9C9C9C;"
                      stroke="black" stroke-width="2">
                </rect>
                <text
                        transform="rotate({{$index * 20}}, {{vm.cirkelsessie.aantalCirkels * 50}}, {{vm.cirkelsessie.aantalCirkels * 50}})"
                        ng-attr-x="{{vm.cirkelsessie.aantalCirkels * 50 + 2 }}"
                        y="330"
                        fill="white">
                    {{spelkaart.kaart.tekst | limitTo: 4}}..
                </text>
            </g>

            <g ng-repeat="spelkaart in vm.spelkaarten | filter:{positie:8}">
                <rect ng-mouseenter="vm.ShowTooltip($event,spelkaart.kaart.tekst)"
                      ng-mouseleave="vm.HideTooltip()"
                      transform="rotate({{$index * 20}}, {{vm.cirkelsessie.aantalCirkels * 50}}, {{vm.cirkelsessie.aantalCirkels * 50}})"
                      ng-attr-x="{{vm.cirkelsessie.aantalCirkels * 50 }}"
                      y="360"
                      width="50" height="30" style="fill:#9C9C9C;"
                      stroke="black" stroke-width="2">
                </rect>
                <text
                        transform="rotate({{$index * 20}}, {{vm.cirkelsessie.aantalCirkels * 50}}, {{vm.cirkelsessie.aantalCirkels * 50}})"
                        ng-attr-x="{{vm.cirkelsessie.aantalCirkels * 50 + 2 }}"
                        y="380"
                        fill="white">
                    {{spelkaart.kaart.tekst | limitTo: 4}}..
                </text>
            </g>

            <g ng-repeat="spelkaart in vm.spelkaarten | filter:{positie:9}">
                <rect ng-mouseenter="vm.ShowTooltip($event,spelkaart.kaart.tekst)"
                      ng-mouseleave="vm.HideTooltip()"
                      transform="rotate({{$index * 20}}, {{vm.cirkelsessie.aantalCirkels * 50}}, {{vm.cirkelsessie.aantalCirkels * 50}})"
                      ng-attr-x="{{vm.cirkelsessie.aantalCirkels * 50 }}"
                      y="410"
                      width="50" height="30" style="fill:#9C9C9C;"
                      stroke="black" stroke-width="2">
                </rect>
                <text
                        transform="rotate({{$index * 20}}, {{vm.cirkelsessie.aantalCirkels * 50}}, {{vm.cirkelsessie.aantalCirkels * 50}})"
                        ng-attr-x="{{vm.cirkelsessie.aantalCirkels * 50 + 2 }}"
                        y="430"
                        fill="white">
                    {{spelkaart.kaart.tekst | limitTo: 4}}..
                </text>
            </g>

            <g ng-repeat="spelkaart in vm.spelkaarten | filter:{positie:10}">
                <rect ng-mouseenter="vm.ShowTooltip($event,spelkaart.kaart.tekst)"
                      ng-mouseleave="vm.HideTooltip()"
                      transform="rotate({{$index * 20}}, {{vm.cirkelsessie.aantalCirkels * 50}}, {{vm.cirkelsessie.aantalCirkels * 50}})"
                      ng-attr-x="{{vm.cirkelsessie.aantalCirkels * 50 }}"
                      y="460"
                      width="50" height="30" style="fill:#9C9C9C;"
                      stroke="black" stroke-width="2">
                </rect>
                <text
                        transform="rotate({{$index * 20}}, {{vm.cirkelsessie.aantalCirkels * 50}}, {{vm.cirkelsessie.aantalCirkels * 50}})"
                        ng-attr-x="{{vm.cirkelsessie.aantalCirkels * 50 + 2 }}"
                        y="480"
                        fill="white">
                    {{spelkaart.kaart.tekst | limitTo: 4}}..
                </text>
            </g>

            <!--tooltip-->

            <text x="0" y="0" width="20" height="10" fill="black" id="tooltip" font-size="10" visibility="hidden">
                Tooltip
            </text>

        </svg>

    </div>

    <div class="mdl-card__menu">

        <div class="material-icons mdl-badge mdl-badge--overlap" data-badge="{{vm.deelnames.length}}">
            account_box
        </div>

        <span>
            <i ng-if="vm.cirkelsessie.status=='OPEN'" class="material-icons status-open">lock_open</i>
            <i ng-if="vm.cirkelsessie.status=='GESLOTEN'" class="material-icons status-gesloten">lock</i>
            <i ng-if="vm.cirkelsessie.status=='BEEINDIGD'" class="material-icons status-beeindigd">lock</i>
        </span>

        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
            <i class="material-icons">share</i>
        </button>

        <button id="demo-menu-lower-right-d" class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">more_vert</i>
        </button>

        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right-d">
            <li ng-if="vm.cirkelsessie.gebruiker.id==$root.id" ng-click="vm.editCirkelsessieLink(vm.cirkelsessie.id)"
                class="mdl-menu__item">Wijzig
            </li>
            <li ng-if="vm.cirkelsessie.gebruiker.id==$root.id" ng-click="vm.deleteCirkelsessie(vm.cirkelsessie.id)"
                class="mdl-menu__item">Verwijder
            </li>
        </ul>

    </div>

</div>

<!-- Event card -->
<style>
    .demo-card-event.mdl-card {
        width: 256px;
        height: 20px;
        background: #3E4EB8;
    }

    .demo-card-event > .mdl-card__actions {
        border-color: rgba(255, 255, 255, 0.2);
    }

    .demo-card-event > .mdl-card__title {
        align-items: flex-start;
    }

    .demo-card-event > .mdl-card__title > h4 {
        margin-top: 0;
    }

    .demo-card-event > .mdl-card__actions {
        display: flex;
        box-sizing: border-box;
        align-items: center;
    }

    .demo-card-event > .mdl-card__actions > .material-icons {
        padding-right: 10px;
    }

    .demo-card-event > .mdl-card__title,
    .demo-card-event > .mdl-card__actions,
    .demo-card-event > .mdl-card__actions > .mdl-button {
        color: #fff;
    }

    .mdl-badge {
        margin-bottom: 4%;
    }

    .kaart {
        min-height: 0;
        width: 100%;
        overflow: visible;
        margin-bottom: 1%;
        position: inherit !important;
        border: 1px solid black;
    }

    #spelkaartContainer {
        min-height: 300px;
        max-height: 500px;
        overflow-y: auto !important;
    }

    .kaart-titel {
        background-color: #9C9C9C;
    }

    .mdl-card__supporting-text {
        overflow: visible !important;
    }

    /*dropdown voor kaart*/
    .dropbtn {
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .dropdown {
        float: right;
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        right: 0;
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 999;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #f1f1f1
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }

    .dropdown-menu {
        top: 5px !important;
        position: inherit !important;
        background-color: aliceblue;
        text-align: center;
    }

    .dropdown-content {
        cursor: pointer;
    }

    .linkDisabled {
        color: #7B7777;
    }

</style>

<div class="mdl-cell mdl-cell--4-col demo-card-wide mdl-card mdl-shadow--2dp">
    <div>
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">
                <!-- Number badge -->Spelkaarten
            </h2>
            <span class="mdl-badge" data-badge="{{vm.spelkaarten.length}}"></span>
        </div>
        <div id="spelkaartContainer" class="mdl-card__supporting-text">
            <div ng-repeat="spelkaart in  vm.spelkaarten | orderBy:'positie':true"
                 class="mdl-card mdl-shadow--2dp kaart">

                <div class="mdl-card__title kaart-titel">
                    <h2 class="mdl-card__title-text">
                        {{spelkaart.kaart.tekst}} [{{spelkaart.positie}}]
                    </h2>
                </div>
                <div class="mdl-card__menu dropdown-menu">

                    <p>
                        Positie: <b>{{spelkaart.positie}}</b> | Aaantal comments:
                        <b>{{vm.commentaren[$index].length}}</b>
                        <!--Aangemaakt door: <b>{{spelkaart.kaart.gebruiker}}</b>-->
                    </p>

                    <p>
                        Aangemaakt door:
                        <b> {{spelkaart.kaart.gebruiker.gebruikersnaam}} </b>
                        | Afbeelding url:
                        <b><a ng-href="{{spelkaart.kaart.imageUrl}}" target="_blank">Kaart afbeelding</a></b>
                    </p>

                    <div class="dropdown">
                        <button class="dropbtn">Instellingen</button>
                        <div class="dropdown-content">
                            <div ng-if="vm.cirkelsessie.status!='BEEINDIGD'">
                                <a class="linkDisabled" ng-if="!vm.isDeelnemer() || !vm.isAanDeBeurt()">Verplaats naar
                                    [{{spelkaart.positie +
                                    1}}]
                                </a>
                                <a ng-if="vm.isAanDeBeurt() && vm.isDeelnemer() && vm.cirkelsessie.aantalCirkels > spelkaart.positie"
                                   ng-click="vm.verschuifKaart(spelkaart.id)">Verplaats
                                    naar[{{spelkaart.positie + 1}}]
                                </a>
                                <a class="linkDisabled" ng-if="vm.cirkelsessie.status=='GESLOTEN'">
                                    Verplaats naar[{{spelkaart.positie + 1}}]
                                </a>

                                <a class="linkDisabled" ng-if="vm.cirkelsessie.aantalCirkels==spelkaart.positie">Max
                                    positie
                                    bereikt!</a>
                                <a href="/#/kaarten/details/{{spelkaart.kaart.id}}">Meer informatie</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="mdl-card__actions mdl-card--border">
        <p></p>
    </div>

    <div class="mdl-card__supporting-text">
        <form ng-submit="vm.createKaart(vm.cirkelsessie.id, kaart)" action="">

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="kaartTekst" ng-model="kaart.tekst"
                       pattern="^.{3,30}$">
                <label class="mdl-textfield__label" for="kaartTekst">Kaart tekst</label>
                <span class="mdl-textfield__error">Mag minimum 3 en maximum 30 letters bevatten</span>
            </div>


            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="imageUrl" ng-model="kaart.imageUrl">
                <label class="mdl-textfield__label" for="imageUrl">Afbeelding urlt</label>
            </div>

            <button
                    ng-if="!vm.isDeelnemer() || vm.cirkelsessie.status=='BEEINDIGD' || vm.cirkelsessie.status=='GESLOTEN' || !vm.kanKaartenToevoegen()"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect" disabled>
                Kaart toevoegen
            </button>
            <button
                    ng-if="vm.isDeelnemer() && vm.cirkelsessie.status!='BEEINDIGD' && vm.kanKaartenToevoegen()"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect">
                Kaart toevoegen
            </button>
        </form>
    </div>
    <div id="chatContainer">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">
                Chat
            </h2>
            <span class="mdl-badge" data-badge="{{vm.berichten.length}}"></span>
        </div>
        <div class="mdl-card__supporting-text">
            {{vm.cirkelsessie.naam}}
        </div>
        <div class="mdl-card__actions mdl-card--border" id="chat">
            <div ng-repeat="bericht in  vm.berichten | orderBy:'datum':true">
                <p>{{bericht.datum | date:'dd/MM/yyyy HH:mm:ss'}} | {{bericht.gebruiker.gebruikersnaam}}:
                    {{bericht.tekst}}</p>

            </div>
        </div>
        <div class="mdl-card__supporting-text">
            <form ng-submit="vm.addBericht(vm.cirkelsessie.id, bericht)" action="">

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="tekst" ng-model="bericht.tekst"
                           pattern="^.{1,30}$">
                    <label class="mdl-textfield__label" for="tekst">Bericht</label>
                    <span class="mdl-textfield__error">Mag minimum 1 en maximum 30 letters bevatten</span>
                </div>


                <button ng-if="vm.isDeelnemer() && vm.cirkelsessie.status!='BEEINDIGD'"
                        class="mdl-button mdl-js-button mdl-js-ripple-effect">
                    Post
                </button>

                <button ng-if="!vm.isDeelnemer() || vm.cirkelsessie.status=='BEEINDIGD'"
                        class="mdl-button mdl-js-button mdl-js-ripple-effect" disabled>
                    Verzend
                </button>

            </form>
        </div>
    </div>
</div>


