<style>

    .mdl-card__title {
        background-color: royalblue;
    }

    #chat {
        overflow-y: auto;
    }

    #chatContainer {
        height: 500px;
        margin-top: 10%;
    }

</style>


<div class="mdl-cell mdl-cell--8-col demo-card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">{{vm.cirkelsessie.naam}}</h2>
    </div>
    <div class="mdl-card__supporting-text">
        Startdatum: {{vm.cirkelsessie.startDatum | date:'yyyy-MM-dd'}}
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <h6>Max aan te maken aantal kaarten per gebruiker: </h6>
        <span>{{vm.cirkelsessie.maxAantalKaarten}}</span>
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <svg ng-attr-height="{{vm.cirkelsessie.aantalCirkels * 100}}"
             width="100%">

            <circle ng-repeat="i in vm.getTimes(vm.cirkelsessie.aantalCirkels)"
                    ng-attr-cx="{{vm.cirkelsessie.aantalCirkels * 50}}"
                    ng-attr-cy="{{vm.cirkelsessie.aantalCirkels * 50}}"
                    ng-attr-r="{{i * 50}}"
                    style="stroke: black;fill: {{vm.setCircleColor(i)}}">
            </circle>
        </svg>
    </div>
    <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
            <i class="material-icons">Share</i>
        </button>

        <!-- Right aligned menu below button -->
        <button id="demo-menu-lower-right"
                class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">more_vert</i>
        </button>

        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
            for="demo-menu-lower-right">
            <li class="mdl-menu__item">Wijzig</li>
            <li disabled class="mdl-menu__item">Verwijder</li>
        </ul>
    </div>
</div>

<div class="mdl-cell mdl-cell--4-col demo-card-wide mdl-card mdl-shadow--2dp">
    <div>
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Spelkaarten</h2>
        </div>
        <div class="mdl-card__supporting-text">

        </div>
        <div class="mdl-card__actions mdl-card--border">
            <p></p>
        </div>
        <div class="mdl-card__supporting-text">
            <form ng-submit="vm.createMessage(vm.cirkelsessie.id, kaart)" action="">

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="kaartTekst" ng-model="kaart.tekst">
                    <label class="mdl-textfield__label" for="tekst">Kaart tekst</label>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="imageUrl" ng-model="kaart.imageUrl">
                    <label class="mdl-textfield__label" for="imageUrl">Afbeelding urlt</label>
                </div>

                <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
                    Toevoegen
                </button>
            </form>
        </div>
    </div>
    <div id="chatContainer">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Chat</h2>
        </div>
        <div class="mdl-card__supporting-text">
            {{vm.cirkelsessie.chat.naam}}
        </div>
        <div class="mdl-card__actions mdl-card--border" id="chat">
            <div ng-repeat="bericht in vm.cirkelsessie.chat.berichten">
                <p>{{bericht.datum | date:'dd-MM-yyyy'}} {{bericht.tekst}}</p>

            </div>
        </div>
        <div class="mdl-card__supporting-text">
            <form ng-submit="vm.createMessage(vm.cirkelsessie.chat.id, bericht)" action="">

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="tekst" ng-model="bericht.tekst">
                    <label class="mdl-textfield__label" for="tekst">Bericht</label>
                </div>

                <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
                    Post
                </button>

            </form>
        </div>
    </div>

</div>

