<!-- Wide card with share menu button -->
<style>

    .mdl-card__title {
        background-color: cornflowerblue;
    }

    .demo-card-wide.mdl-card {
        width: 512px;
        margin-bottom: 5%;
    }

    .demo-card-wide > .mdl-card__title {
        color: #fff;
        height: 176px;
        background-color: cornflowerblue;
    }

    .demo-card-wide > .mdl-card__menu {
        color: #fff;
    }

    #form {
        height: 500px;
    }

    #form-title {
        height: 60px;
    }

    #form-title:hover {
        cursor: pointer;
    }

    #cirkelsessie-title{
        font-size: 2.5em;
        border-bottom: 2px solid gray;
        padding-bottom: 3%;
    }

    #header-buttons{
        float: right;
    }

    #cirkelsessie-filter{
        border-bottom: 2px solid gray;
        margin: 1% 0;
        padding: 1%;
    }

    .demo-card-wide{
        margin-right: 1%;
        width: 350px !important;
        float: left;
    }

</style>


<div class="mdl-cell mdl-cell--9-col ng-scope">
    <div id="cirkelsessie-title" class="mdl-card__title-text">
        <span>Alle cirkelsessies({{vm.cirkelsessies.length}})</span>
        <!--<div id="header-buttons">-->
            <!--<button class="mdl-button mdl-js-button mdl-button&#45;&#45;raised mdl-js-ripple-effect">-->
                <!--Mijn cirkelsessies-->
            <!--</button>-->
        <!--</div>-->
    </div>
    <div id="cirkelsessie-filter" class="mdl-card__title-text">
        <span>filter</span>
        <!--<div id="header-buttons">-->
        <!--<button class="mdl-button mdl-js-button mdl-button&#45;&#45;raised mdl-js-ripple-effect">-->
        <!--Mijn cirkelsessies-->
        <!--</button>-->
        <!--</div>-->
    </div>

    <div class="demo-card-wide mdl-card mdl-shadow--2dp" ng-repeat="cirkelsessie in vm.cirkelsessies | orderBy:'startDatum'">
        <div class="">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">{{cirkelsessie.naam}}</h2>
            </div>
            <div class="mdl-card__supporting-text">
                Organisator: <b>{{cirkelsessie.gebruiker.gebruikersnaam}} </b> | Startdatum: {{cirkelsessie.startDatum |
                date:'yyyy-MM-dd'}}
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a href="/#/cirkelsessies/details/{{cirkelsessie.id}}"
                   class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    Bekijk!
                </a>
            </div>
            <div class="mdl-card__menu">
                <div class="material-icons mdl-badge mdl-badge--overlap" data-badge="{{cirkelsessie.deelnames.length}}">account_box</div>

                <span><i ng-if="vm.circelsessie.isClosed" class="material-icons">lock_open</i>

                <i ng-if="!vm.circelsessie.isClosed" class="material-icons">lock</i></span>

                <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                    <i class="material-icons">share</i>
                </button>

                <!-- Right aligned menu below button -->
                <button id="demo-menu-lower-right {{cirkelsessie.id}}"
                        class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons">more_vert</i>
                </button>

                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                    for="demo-menu-lower-right {{cirkelsessie.id}}">
                    <li ng-click="vm.showCirkelsessieLink(cirkelsessie.id)" class="mdl-menu__item">Bekijk</li>
                    <li disabled class="mdl-menu__item">Wijzig</li>
                    <li ng-click="vm.deleteCirkelsessieLink(cirkelsessie.id)" class="mdl-menu__item">Verwijder</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div>
    <div id="form-title" class="mdl-card__title mdl-color--primary mdl-color-text--white">
        <h2 class="mdl-card__title-text" ng-click="showForm = ! showForm">Maak een cirkelsessie aan</h2>
    </div>
    <div class="mdl-card mdl-shadow--6dp" id="form" ng-show="showForm">

        <div class="mdl-card__supporting-text">

            <form ng-submit="vm.addCirkelsessie(cirkelsessie)" action="">

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="naam" ng-model="cirkelsessie.naam">
                    <label class="mdl-textfield__label" for="naam">Naam</label>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" pattern="^(1[0-0]|[5-9])$" id="aantalCirkels"
                           ng-model="cirkelsessie.aantalCirkels">
                    <label class="mdl-textfield__label" for="aantalCirkels">Aantal cirkels</label>
                    <span class="mdl-textfield__error">Aantal moet tussen 5 en 10 zijn!</span>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="number" id="maxAantalKaarten"
                           ng-model="cirkelsessie.maxAantalKaarten">
                    <label class="mdl-textfield__label" for="maxAantalKaarten">Maximum toegelaten
                        kaarten</label>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="radio" ng-value="true" id="isGesloten"
                           ng-model="cirkelsessie.isGesloten">
                    <label class="mdl-textfield__label" for="isGesloten">Gesloten</label>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" min="2016-03-04" type="date" id="datum"
                           ng-model="cirkelsessie.startDatum">
                    <label class="mdl-textfield__label" for="datum"></label>
                </div>

                <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
                    Toevoegen
                </button>

            </form>

        </div>
    </div>

</div>
