<!-- Wide card with share menu button -->
<style>

    .mdl-card__title {
        background-color: cornflowerblue;
    }

    .demo-card-wide.mdl-card {
        width: 512px;
        margin-bottom: 5%;
    }

    .demo-card-wide > .mdl-card__title {
        color: #fff;
        height: 176px;
        background-color: cornflowerblue;
    }

    .demo-card-wide > .mdl-card__menu {
        color: #fff;
    }

    #form-title, #form-title2 {
        width: 330px;
        height: 60px;
    }

    #form-title2 {
        background-color: #643065 !important;
    }

    #form-title:hover {
        cursor: pointer;
    }

    #form-title2:hover {
        cursor: pointer;
    }

    #cirkelsessie-title {
        font-size: 2.5em;
        border-bottom: 2px solid gray;
        padding-bottom: 3%;
    }

    #header-buttons {
        float: right;
    }

    #cirkelsessie-filter {
        border-bottom: 2px solid gray;
        margin: 1% 0;
        padding: 1%;
    }

    .demo-card-wide {
        margin-right: 1%;
        width: 350px !important;
        float: left;
    }

    .type-cirkelsessie {
        border: 1px solid black;
        width: 100%;
        padding: 1%;
    }

    .type-cirkelsessie div {
        width: 31%;
        float: left;
    }

    .status-open {
        color: green !important;
    }

    .status-gesloten {
        color: black !important;
    }

    .status-beeindigd {
        color: red !important;
    }

    .status-gestart {
        color: green !important;
    }

    .color-blue {
        color: blue !important;
    }

    .cloneCirkelsessie {
        margin-top: 10%;
    }

</style>


<div class="mdl-cell mdl-cell--9-col ng-scope">
    <div id="cirkelsessie-title" class="mdl-card__title-text">
        <span>Alle cirkelsessies({{vm.cirkelsessies.length}})</span>
        <!--<div id="header-buttons">-->
        <!--<button class="mdl-button mdl-js-button mdl-button&#45;&#45;raised mdl-js-ripple-effect">-->
        <!--Mijn cirkelsessies-->
        <!--</button>-->
        <!--</div>-->
    </div>
    <div id="cirkelsessie-filter" class="mdl-card__title-text">
        <div class="type-cirkelsessie">
            <div>
                <h4>Filter cirkelsessies op status</h4>
                <!--<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">-->
                <!--<input ng-model="statusFilter" type="radio" id="option-1" class="mdl-radio__button" name="options" value="ALLES" checked>-->
                <!--<span class="mdl-radio__label">ALLES</span>-->
                <!--</label>-->
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
                    <input ng-model="filter.status" type="radio" id="option-2" class="mdl-radio__button" name="options"
                           value="OPEN">
                    <span class="mdl-radio__label">OPEN</span>
                </label>

                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-3">
                    <input ng-model="filter.status" type="radio" id="option-3" class="mdl-radio__button" name="options"
                           value="GESLOTEN">
                    <span class="mdl-radio__label">GESLOTEN</span>
                </label>

                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-4">
                    <input ng-model="filter.status" type="radio" id="option-4" class="mdl-radio__button" name="options"
                           value="GESTART">
                    <span class="mdl-radio__label">GESTART</span>
                </label>

                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-5">
                    <input ng-model="filter.status" type="radio" id="option-5" class="mdl-radio__button" name="options"
                           value="BEEINDIGD">
                    <span class="mdl-radio__label">BEEINDIGD</span>
                </label>
            </div>
            <div>
                <h4>Sorteer op</h4>
                <select required ng-model="sortorder">
                    <option value="+startDatum" selected>Startdatum</option>
                    <option value="-deelnames.length">Aantal deelnemers</option>
                </select>
            </div>
        </div>

    </div>

    <div class="demo-card-wide mdl-card mdl-shadow--2dp"
         ng-repeat="cirkelsessie in vm.cirkelsessies | filter:filter | orderBy:sortorder">
        <div class="">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">{{cirkelsessie.naam | limitTo: 11}}
                    <span ng-if="cirkelsessie.naam.length > 11">...</span>
                </h2>
            </div>
            <div class="mdl-card__supporting-text">
                <p ng-if="cirkelsessie.subthema!=null">
                    Organisatie: <b>{{cirkelsessie.subthema.hoofdthema.organisatie.naam}}</b>
                    | Hoofdthema: <b>{{cirkelsessie.subthema.hoofdthema.naam}}</b>
                </p>

                <p ng-if="cirkelsessie.subthema!=null">Subthema: <b>{{cirkelsessie.subthema.naam}}</b></p>

                <p>Organisator: <b>{{cirkelsessie.gebruiker.gebruikersnaam}}</b></p>

                <p>Startdatum: <b>{{cirkelsessie.startDatum | date:'dd/MM/yyyy HH:mm'}}</b></p>

                <p>Status:
                    <b class="status-open" ng-if="!vm.isActive(cirkelsessie.startDatum) && cirkelsessie.status=='OPEN'">{{cirkelsessie.status}}</b>
                    <b class="status-gesloten"
                       ng-if="!vm.isActive(cirkelsessie.startDatum) && cirkelsessie.status=='GESLOTEN'">{{cirkelsessie.status}}</b>
                    <b class="status-beeindigd"
                       ng-if="!vm.isActive(cirkelsessie.startDatum) && cirkelsessie.status=='BEEINDIGD'">{{cirkelsessie.status}}</b>
                    <b class="status-gestart" ng-if="vm.isActive(cirkelsessie.startDatum)">GESTART</b>
                </p>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a href="/#/cirkelsessies/details/{{cirkelsessie.id}}"
                   class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect view-link">
                    Bekijk!
                </a>
            </div>
            <div class="mdl-card__menu">
                <div class="material-icons mdl-badge mdl-badge--overlap" data-badge="{{vm.deelnames[$index].length}}">
                    account_box
                </div>

                <span>
                    <i ng-if="cirkelsessie.status=='OPEN'" class="material-icons status-open">lock_open</i>

                <i ng-if="cirkelsessie.status=='GESLOTEN'" class="material-icons status-gesloten">lock</i></span>
                <i ng-if="cirkelsessie.status=='BEEINDIGD'" class="material-icons status-beeindigd">lock</i></span>

                <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                    <i class="material-icons">share</i>
                </button>

                <!-- Right aligned menu below button -->
                <button id="demo-menu-lower-right {{cirkelsessie.id}}"
                        class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons">more_vert</i>
                </button>

                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                    for="demo-menu-lower-right {{cirkelsessie.id}}">
                    <li ng-click="vm.showCirkelsessieLink(cirkelsessie.id)" class="mdl-menu__item">Bekijk</li>
                    <li ng-if="cirkelsessie.gebruiker.id==$root.id" ng-click="vm.editCirkelsessieLink(cirkelsessie.id)"
                        class="mdl-menu__item">Wijzig
                    </li>
                    <li ng-if="cirkelsessie.gebruiker.id==$root.id"
                        ng-click="vm.deleteCirkelsessie(cirkelsessie.id)" class="mdl-menu__item">Verwijder
                    </li>
                </ul>
            </div>
        </div>
    </div>


</div>

<div id="forms">
    <div class="createCirkelsessie">
        <div id="form-title" class="mdl-card__title mdl-color--primary mdl-color-text--white"
             ng-click="showForm = ! showForm">
            <h2 class="mdl-card__title-text">Maak een cirkelsessie aan</h2>
        </div>
        <div ng-if="showForm" class="mdl-card mdl-shadow--6dp" id="form">

            <div class="mdl-card__supporting-text">

                <form ng-submit="vm.addCirkelsessie(cirkelsessie)" action="" class="session-fo">

                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="naam" ng-model="cirkelsessie.naam"
                               pattern="^.{3,30}$">
                        <label class="mdl-textfield__label" for="naam">Naam</label>
                        <span class="mdl-textfield__error">Mag minimum 3 en maximum 30 letters bevatten</span>
                    </div>

                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" pattern="^(1[0-0]|[5-9])$"
                               id="aantalCirkels" ng-model="cirkelsessie.aantalCirkels">
                        <label class="mdl-textfield__label" for="aantalCirkels">Aantal cirkels</label>
                        <span class="mdl-textfield__error">Aantal moet tussen 5 en 10 zijn!</span>
                    </div>

                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="number" id="maxAantalKaarten"
                               ng-model="cirkelsessie.maxAantalKaarten">
                        <label class="mdl-textfield__label" for="maxAantalKaarten">Maximum toegelaten
                            kaarten</label>
                    </div>

                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <label>Status </label>
                        <select ng-model="cirkelsessie.status" required>
                            <option value="OPEN" class="sts-opt">
                                OPEN
                            </option>
                            <option value="GESLOTEN" class="sts-opt">
                                GESLOTEN
                            </option>
                        </select>
                    </div>

                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="datetime-local" id="datum"
                               ng-model="cirkelsessie.startDatum">
                        <label class="mdl-textfield__label" for="datum"></label>
                    </div>

                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <label>Subthema </label>
                        <select ng-model="cirkelsessie.subthema">
                            <option ng-repeat="subthema in vm.subthemas" value="{{subthema.id}}" class="sbt-opt">
                                {{subthema.naam}}
                            </option>
                        </select>

                    </div>

                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
                        Toevoegen
                    </button>

                </form>

            </div>

        </div>
    </div>
    <div class="cloneCirkelsessie">
        <div id="form-title2" class="mdl-card__title mdl-color--primary mdl-color-text--white"
             ng-click="showForm2 = ! showForm2">
            <h2 class="mdl-card__title-text">Clone een cirkelsessie</h2>
        </div>
        <div ng-if="showForm2" class="mdl-card mdl-shadow--6dp" id="cloneForm">

            <div class="mdl-card__supporting-text">

                <form ng-submit="vm.cloneCirkelsessie(cirkelsessieId,cirkelsessie)" action="">

                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="cloneNaam" ng-model="cirkelsessie.naam">
                        <label class="mdl-textfield__label" for="naam">Naam</label>
                    </div>


                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <label>Status </label>
                        <select ng-model="cirkelsessie.status">
                            <option value="OPEN">
                                OPEN
                            </option>
                            <option value="GESLOTEN">
                                GESLOTEN
                            </option>
                        </select>
                    </div>

                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="datetime-local" id="cloneDatum"
                               ng-model="cirkelsessie.startDatum">
                        <label class="mdl-textfield__label" for="datum"></label>
                    </div>

                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <label>Cirkelsessie </label>
                        <select ng-model="cirkelsessieId" required>
                            <option ng-repeat="cirkelsessie in vm.mijnCirkelsessies" value="{{cirkelsessie.id}}">
                                {{cirkelsessie.naam}}
                            </option>
                        </select>

                    </div>

                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
                        Toevoegen
                    </button>

                </form>

            </div>

        </div>
    </div>
</div>

