<!-- Two Line List with secondary info and action -->
<style>

    .demo-card-wide > .mdl-card__title {
        color: #fff;
        height: 176px;
        background-color: cornflowerblue;
    }

    .demo-card-wide > .mdl-card__menu {
        color: #fff;
    }

    .demo-list-two {
        width: 300px;
    }

    #deelname-instellingen a {
        float: left;
    }

    #deelname-title {
        font-size: 2.5em;
        border-bottom: 2px solid gray;
        padding-bottom: 3%;
        margin-bottom: 5%;
    }

    .lijst {
        width: auto;
    }

    .lijst-item {
        border: 2px solid black;
        margin-bottom: 1%;
    }

    .instelling-content {
        height: 50px;
    }


</style>

<div class="mdl-cell mdl-cell--9-col ng-scope">

    <h2 id="deelname-title" class="mdl-card__title-text">Mijn deelnames ({{ vm.deelnames.length }})</h2>

    <ul class="demo-list-two mdl-list lijst">
        <li ng-repeat="deelname in vm.deelnames" class="mdl-list__item mdl-list__item--two-line lijst-item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar">playlist_add_check</i>
              <span>Cirkelsessie: <a href="/#/cirkelsessies/details/{{vm.cirkelsessies[$index].id}}">{{vm.cirkelsessies[$index].naam}}</a></span>
              <span class="mdl-list__item-sub-title">Deelgenomen op: {{deelname.datum | date:'dd/MM/yyyy HH:mm'}}</span>
            </span>
            <span class="mdl-list__item-secondary-content instelling-content">
              <span id="deelname-instellingen" class="mdl-list__item-secondary-info">Instellingen</span>
                <p>
                    <div>
                        <a id="details" class="mdl-list__item-secondary-action blueIcon"
                           href="/#/cirkelsessies/details/{{vm.cirkelsessies[$index].id}}"><i class="material-icons">info_outline</i></a>

                        <div class="mdl-tooltip mdl-tooltip--large" for="details">Bekijk deelname</div>
                    </div>
                </p>
            </span>
        </li>
    </ul>

</div>


